<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wzq.sample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackDemo">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
<!--            <meta-data-->
<!--                android:name="com.wzq.jetpack.BaseInitializer"-->
<!--                android:value="androidx.startup" />-->

<!--            <meta-data-->
<!--                android:name="com.wzq.jetpack.OtherInitializer"-->
<!--                android:value="androidx.startup"-->
<!--                tools:node="remove" />-->
        </provider>

<!--        <activity-->
<!--            android:name=".ui.SplashActivity"-->
<!--            android:label="@string/app_name"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.WebActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.category.CategoryActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>