<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wzq.jetpack">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.wzq.jetpack.BaseInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.wzq.jetpack.OtherInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WebActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.UserActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.activity.QuestionActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActionBar" />


        <!--        test activity   -->
        <activity
            android:name=".test.TestActivity"
            android:launchMode="singleTop" >
        </activity>

        <activity
            android:name=".test.ImmersiveActivity"
            android:launchMode="singleTop" />

        <activity android:name=".test.transition.AnimListActivity"/>

        <activity android:name=".test.transition.TransActivity"/>

        <activity android:name=".test.dialog.TestDialogActivity" />
    </application>

</manifest>